.about{
  margin: 0 0 77px 0;
  @media(max-width: 640px){
    margin: 0 0 47px 0;
  }
  @media(max-width: 400px){
    margin: 0 0 27px 0;
  }
  &__container{
    background: url('../../img/about/3-layers.png') left repeat-y;
    padding: 10px 10px 25px 129px;
    width: 100%;
    min-height: 340px;
    @media(max-width: 840px){
      background: none;
      padding: 10px 20px 25px 0px;
    }
  }
  p{
    color: #333333;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin: 0 0 21px 0;
    &:last-child{
      margin: 0;
    }
    @media(max-width: 840px){
      padding: 0 0 0 40px;
    }
  }
}