.callback{
  display: flex;
  align-items: flex-start;
  margin: -1px 0 0 0;
  &__img{
    width: 8px;
    height: 11px;
    margin: 0 5px 0 0;
  }
  &__text{
    border-bottom: 1px dashed #bb9c66;
  }
}