.footer{
  min-height: 178px;
  padding: 44px 0 42px 0;
  background-color: #1c242a;
  @media(max-width: 454px){
    padding: 24px 0 22px 0;
  }
  &__stair{
    width: 100%;
    display: flex;
    &-first{
      min-height: 45px;
      margin: 0 0 11px 0;
      @media(max-width: 810px){
        justify-content: space-between;
      }
      @media(max-width: 454px){
        flex-direction: column;
        align-items: center;
      }
    }
    &-second{
      min-height: 13px;
      margin: -8px 0 0 0;
      justify-content: space-between;
      @media(max-width: 454px){
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }
  &__menu-body{
    padding: 14px 0 0 0;
    max-width: 482px;
    min-height: 37px;
    margin: 0 22px 0 0;
    @media(max-width: 810px){
      display: none;
    }
  }
  &__menu-list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
  }
  &__menu-item{
    display: inline-block;
    font-family: "PF";
    font-size: 14px;
    font-weight: 500;
    padding: 6px 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 0 13px 0 0;
    @media(max-width: 810px){
      padding: 15px 20px;
    }
    a{
      display: inline-block;
      color: #ffffff;
      &:after{
        content: '';
        height: 1px;
        background-color: #ffffff;
        width: 0;
        margin: 0 auto;
        transition: 0.5s all;
        display: block;
      }
      &:hover{
        &:after{
          width: 100%;
        }
      }
      @media(max-width: 810px){
        font-size: 18px;
      }
    }
    &:last-child{
      margin: 0;
    }
  }
  &__logo{
    height: 41px;
    flex: 0 0 171px;
    margin: 0 29px 0 0;
    @media(max-width: 454px){
      width: 171px;
      height: 41px;
      flex: none;
      margin: 0 0 10px 0;
    }
  }
  &__contact{
    a{
      display: flex;
      margin: 15px 0 0 0;
      color: #bb9c66;
      font-family: "Bravo";
      font-size: 41px;
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;
      min-height: 45px;
      width: 250px;
      @media(max-width: 892px){
        font-size: 25px;
        width: 170px;
      }
      @media(max-width: 454px){
        min-height: 25px;
      }
      span{
        &:first-child{
          align-self: flex-start;
          font-size: 25px;
        }
      }
    }

  }
  &__rules, &__callback{
    color: #bb9c66;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
  }
  &__rules{

  }
  &__callback{
    @media(max-width: 454px){
      margin: 0 0 15px 0;
    }
  }
}