.header{
  width: 100%;
  background-color: #1c242a;
  min-height: 75px;
  padding: 19px 0 22px 0;
  @media(max-width: 810px){
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1c242a;
      height: 75px;
      z-index: 21;
      width: 100%;
    }
  }
  &__container{
    display: flex;
    align-items: center;
    @media(max-width: 996px){
      margin: 0 auto;
    }
    @media(max-width: 810px){
      justify-content: space-between;
    }
  }
  &__menu-body{

    @media(max-width: 810px){
      position: absolute;
      top: 0;
      left: -100%;
      background-color: rgba($color: #1c242a, $alpha: 0.9);
      width: 100%;
      height: 100%;
      transition: left 0.3s ease;
      overflow: auto;
      z-index: 20;
      &._active{
        left: 0;
      }
    }
  }
  &__logo{
    position: relative;
    z-index: 21;
    display: flex;
    height: 32px;
    flex: 0 0 144px;
    margin: 0 82px 0 24px;
    cursor: pointer;
    @media(max-width: 996px){
      margin: 0 50px 0 0;
    }
  }
  nav{
    display: inline-block;
    align-self: flex-end;
  }
  &__menu{
    min-width: 300px;
    display: flex;
    margin: 0 51px 0 0;
    flex-wrap: wrap;
    @media(max-width: 810px){
      flex-direction: column;
      padding: 75px 0 0 0;
    }
    &-item{
      margin: 0 30px 0 0;
      @media(max-width: 810px){
        display: inline-block;
        padding: 15px 20px;
        a{
          font-size: 18px;
        }
      }
      &:last-child{
        margin: 0;
      }
      a{
        color: #ffffff;
        font-family: "PF";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        white-space: nowrap;
        display: inline-block;
        &:after{
          content: '';
          height: 1px;
          background-color: #ffffff;
          width: 0;
          margin: 0 auto;
          transition: 0.5s all;
          display: block;
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }
    }
  }

  &__region{
    position: relative;
    display: inline-block;
    align-self: flex-end;
    margin: 0 30px 3px 0;
    @media(max-width: 996px){
      margin: 0 20px 3px 0;
    }
    @media(max-width: 810px){
      padding: 10px 20px;
      margin: 0;
      min-width: 100%;
    }
    &:not(.nohover):hover{
      .region__sub-menu{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__user{
    display: inline-block;
    min-width: 32px;
    align-self: flex-end;
    margin: 0 0 3px 0;
    @media(max-width: 996px){
      margin: 0;
    }
    @media(max-width: 810px){
      padding: 10px 20px;
    }
  }
  &__burger{
    display: none;
    position: relative;
    z-index: 21;
    width: 30px;
    height: 18px;
    cursor: pointer;
    span,
    &::before,
    &::after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

    &._active span {
      transform: scale(0) translate(0px, -50%);
    }
    &._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }
    &._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }

    @media(max-width: 810px){
      display: block;
    }
  }
}