.header-lots{
  display: flex;
  justify-content: center;
  &__container{
    display: inline-block;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__left-arrow, &__right-arrow{
    width: 108px;
    height: 35px;
    @media(max-width: 430px){
      width: 58px;
    }
  }
  &__left-arrow{
    position: relative;
    &::after{
      position: absolute;
      top: 50%;
      right: -15px;
      transform: translateY(-50%);
      content: '';
      width: 11px;
      height: 11px;
      border: 1px solid #bb9c66;
      border-radius: 50%;
    }
  }
  &__right-arrow{
    position: relative;
    &::before{
      left: -15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      content: '';
      width: 11px;
      height: 11px;
      border: 1px solid #bb9c66;
      border-radius: 50%;
    }
  }
  &__header{
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #bb9c66;
    border-radius: 50%;
    color: #000000;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 42px;
    span{
      padding: 3px;
    }
  }
}