.main{
  position: relative;
  min-height: 427px;
  width: 100%;
  padding: 34px 0 60px 0;
  &__bg{
    min-height: 427px;
    width: 100%;
  }
  &__title-luxery{
    margin: 0 0 23px 0;
  }
  &__title-general{
    margin: 0 0 27px 0;
  }
  &__text{
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto 58px auto;
    text-align: center;
    color: #fff;
    max-width: 691px;
    min-height: 65px;
  }
  &__button{
    color: #fff;
    width: 253px;
    min-height: 53px;
    margin: 0 auto 20px auto;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 15px;
  }
  &__tringler{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    width: 100px;
    height: 100px;
    border: 100px solid transparent;
    border-bottom: 100px solid #fff;
    &-img{
      width: 77px;
      height: 26px;
      top: 40px;
      right: 38px;
    }
  }
}