.occasion{
  &__container{
    margin: 0 0 35px 0;
    &:last-child{
      margin: 0;
    }
  }
  &__title{
    color: #000;
    display: inline-block;
    font-family: "PT Sans";
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
    margin: 0 0 9px 0;
  }

}