.region {
    min-width: 136px;
    min-height: 12px;
    display: flex;
    align-items: center;
    @media (max-width: 996px) {
        min-width: 18px;
    }
    &__text {
        display: block;
        color: #ffffff;
        font-family: "PF";
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1.4px;
        margin: 3px 0 0 0;
        cursor: pointer;
        text-align: center;
        @media (max-width: 996px) {
            display: none;
        }
        @media (max-width: 810px) {
            display: block;
            font-size: 18px;
        }
    }
    &__img {
        height: 18px;
        flex: 0 0 18px;
        display: inline-block;
        margin: 0 11px 0 0;
        @media (max-width: 996px) {
            margin: 0;
        }
        @media (max-width: 810px) {
            flex: 0 0 18px;
            margin: 0 11px 0 0;
        }
    }
    &__arrow {
        right: -15px;
        top: 50%;
        transform: translateY(-50%);
        @media (max-width: 810px) {
            top: 15px;
            right: 41px;
        }
    }
    &__sub-menu {
        width: 150px;
        min-height: 50px;
        padding: 27px 10px 10px 10px;

        @media (max-width: 876px) {
            left: -80px;
        }
        @media (max-width: 810px) {
            top: 4px;
        }
    }
}
