.service{
  background-color: #1c242a;
  padding: 61px 0 62px;
  @media(max-width: 400px){
    padding: 41px 0 42px;
  }
  &__title-luxery{
    margin: 0 0 33px 0;
  }
  &__title-general{
    margin: 0 0 25px 0;
    color: #ffffff;
  }
  &__header-icon{
    margin: 0 0 59px 0;
    @media(max-width: 640px){
      margin: 0 0 29px 0;
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: 0 -52px;
  }
  &__column{
    padding: 0 51px 40px 51px;
    display: flex;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 338px;
  }
  &__img{
    width: 162px;
    height: 162px;
    margin: 0 0 45px 0;
    @media(max-width: 640px){
      margin: 0 0 25px 0;
    }
  }
  &__content{
    flex: 1 1 auto;
  }
  &__title{
    color: #ffffff;
    font-family: "PF";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    text-align: center;
    margin: 0 0 31px 0;
  }
  &__text{
    color: #bb9c66;
    font-family: "PT Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    margin: 0 0 35px 0;
  }
  &__link{
    position: relative;
    color: #ffffff;
    font-family: "PF";
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.12px;
    &:after, &:before{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      background-color: #bb9c66;
    }
    &:after{
      right: -60px;
    }
    &:before{
      left: -60px;
    }
  }
}