.time{
  bottom: -44px;
  &__icon{
    width: 15px;
    height: 18px;
    transform: translate(-7px, 13px);
  }
  &__count{
    color: #000000;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    transform: translate(-40px, 22px);
  }
}