.user{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media(max-width: 810px){
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 15px 0;
  }
  &__img{
    width: 22px;
    height: 22px;
    margin: 0 6px 0 0;
    @media(max-width: 810px){
      align-self: flex-start;
    }
  }
  &__arrows{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 8px;
  }
  &__arrow-top, &__arrow-bottom{
    width: 8px;
    height: 5px;
  }
  &__arrow-top{
    margin: 0 0 3px 0;
  }
  &__arrow{
    top: 7px;
    right: -7px;
    @media(max-width: 810px){
      right: 92px;
      top: 15px;
    }
  }
  &__sub-menu{
    top: 22px;
    right: -13px;
    min-height: 125px;
    width: 183px;
    padding: 36px 20px 20px 20px;
    @media(max-width: 810px){
      position: relative;
      left: 0;
      width: 100%;
      padding: 10px;
      min-height: 90px;
      top: 4px;
      right: 0;
      width: 94%;
    }
    &-item{
      padding: 0 0 0 32px;
      &_1{
        background: url('../../icons/sub-menu/key.png') left no-repeat;
      }
      &_2{
        background: url('../../icons/sub-menu/hand.png') left no-repeat;
      }
      &_3{
        background: url('../../icons/sub-menu/hammer.png') left no-repeat;
      }
    }

  }
}