.title{
  text-align: center;
  color: #1c242a;
  &_luxery{
    color: #bb9c66;
    font-family: "Ceremonious";
    @include adaptiv-value('font-size', 40, 30, 0);
    font-weight: 400;
    line-height: 25px;
  }
  &_general{
    @include adaptiv-value('font-size', 35, 25, 0);
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5.25px;
  }
  &_white{
    color: #fff;
  }
}